@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(bg17.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    color: rgb(255, 255, 255);
    max-width: 500px;
    line-height: 65px;
    padding-left: 90px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-from {
    max-width: 700;
    margin-right: 150px;
}

.contact-info,
.contact-from {
    flex: 1;
}

.contact-from h2 {
    color: #0884a0;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-from .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10%);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-from .text-box:first-child {
    margin-right: 15px;
}

.contact-from textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0, 0, 0);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-from textarea:hover {
    background: #207ec52d;
}

.contact-from .send-btn {
    float: right;
    background: #2e94e3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-from .send-btn:hover {
    background: #0582e3;
}

@media screen and (max-width:950px) {
    .contact-section {
        flex-direction: column;
    }
    .contact-from,
    .contact-from {
        margin: 30px 50px;
    }
    .contact-from h2 {
        font-size: 30px;
    }
    .contact-from,
    .text-box {
        width: 100%;
    }
}

.alert-success {
    z-index: 1;
    background: #d4edda;
    font-size: 18px;
    padding: 20px 57px;
    min-height: 80px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3ad66e;
    border-radius: 4px;
}

.alert-error {
    z-index: 1;
    background: #fff3cd;
    font-size: 18px;
    padding: 20px 40px;
    min-height: 80px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #ffa502;
    border-radius: 4px;
}